version: '3'

services:
  pileta-db:
    image: mysql:5.7
    container_name: pileta_api_db
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=pileta_api
    volumes:
      - ./db/data:/var/lib/mysql
    ports:
      - 5432:3306

  pileta-api:
    build: 
      context: ./
      dockerfile: Dockerfile.api
    container_name: pileta_api
    volumes:
      - ./app:/app
    ports:
      - 4000:80
    depends_on:
      - pileta-db

