version: '3'

services:
  database:
    image: mysql:5.7
    container_name: mysql_server
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=pileta_api
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - 5432:3306

  pileta-api:
    build: ./app
    container_name: pileta-api
    volumes:
      - ./app:/app
    ports:
      - 4000:80
    depends_on:
      - database

